n8n/workflows/leverage-brief-partial.json
{
  "name": "Leverage Brief — Partial Capture + Drip Emails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fulcrum-assess-partial",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      },
      "id": "webhook-partial",
      "name": "Webhook: Partial Save",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 300],
      "typeVersion": 2,
      "webhookId": "fulcrum-assess-partial"
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/nodes/05-partial-save.js"
      },
      "id": "partial-save",
      "name": "01 — Partial Save + UUID",
      "type": "n8n-nodes-base.function",
      "position": [420, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/nodes/00-zoho-auth.js"
      },
      "id": "zoho-auth-partial",
      "name": "02 — Zoho Auth Refresh",
      "type": "n8n-nodes-base.function",
      "position": [640, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v2/Leads/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Zoho-oauthtoken {{ $json.zoho_access_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.zoho_api_body) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "zoho-partial-upsert",
      "name": "03 — Zoho Partial Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "position": [860, 300],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, resume_id: $('01 — Partial Save + UUID').first().json.resume_id }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-partial",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1080, 240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('01 — Partial Save + UUID').first().json.trigger_drip.send_immediate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-send-email1",
      "name": "IF: New Record? Send Email 1",
      "type": "n8n-nodes-base.if",
      "position": [1080, 380],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/emails/email1-immediate.js"
      },
      "id": "email1-build",
      "name": "04 — Build Email 1 (Save Confirmation)",
      "type": "n8n-nodes-base.function",
      "position": [1300, 380],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.resend_payload) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "resend-email1",
      "name": "Resend: Email 1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1520, 380],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "value2": 401
            }
          ]
        }
      },
      "id": "if-zoho-401",
      "name": "IF: Zoho 401?",
      "type": "n8n-nodes-base.if",
      "position": [1080, 520],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Force token refresh by clearing cache\nconst staticData = $getWorkflowStaticData('global');\nstaticData.zoho_access_token = null;\nstaticData.zoho_token_expiry = 0;\nconsole.log('Zoho 401 — forced token refresh for next run');\nreturn [{ json: { ...$input.first().json, zoho_retry_needed: true } }];"
      },
      "id": "zoho-force-refresh",
      "name": "Force Token Refresh",
      "type": "n8n-nodes-base.function",
      "position": [1300, 520],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-partial-data",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-get-partial",
      "name": "Webhook: Get Partial Data",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 700],
      "typeVersion": 2,
      "webhookId": "get-partial-data"
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/nodes/06-get-partial-data.js"
      },
      "id": "get-partial-data",
      "name": "05 — Get Partial Data",
      "type": "n8n-nodes-base.function",
      "position": [420, 700],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fulcrum-drip-stop",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-drip-stop",
      "name": "Webhook: Drip Stop",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 900],
      "typeVersion": 2,
      "webhookId": "fulcrum-drip-stop"
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/nodes/13-drip-stop-handler.js"
      },
      "id": "drip-stop-handler",
      "name": "06 — Drip Stop Handler",
      "type": "n8n-nodes-base.function",
      "position": [420, 900],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] }
      },
      "id": "schedule-drip",
      "name": "Schedule: Drip Check (1h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [200, 1100],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/nodes/00-zoho-auth.js"
      },
      "id": "zoho-auth-drip",
      "name": "07 — Zoho Auth (Drip)",
      "type": "n8n-nodes-base.function",
      "position": [420, 1100],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Paste contents of n8n/nodes/07-drip-check-and-send.js"
      },
      "id": "drip-check",
      "name": "08 — Drip Check + Build Emails",
      "type": "n8n-nodes-base.function",
      "position": [640, 1100],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.no_emails }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "if-drip-emails",
      "name": "IF: Drip Emails to Send?",
      "type": "n8n-nodes-base.if",
      "position": [860, 1100],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.resend_payload) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "resend-drip",
      "name": "Resend: Drip Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1080, 1100],
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook: Partial Save": {
      "main": [
        [{ "node": "01 — Partial Save + UUID", "type": "main", "index": 0 }]
      ]
    },
    "01 — Partial Save + UUID": {
      "main": [
        [{ "node": "02 — Zoho Auth Refresh", "type": "main", "index": 0 }]
      ]
    },
    "02 — Zoho Auth Refresh": {
      "main": [
        [{ "node": "03 — Zoho Partial Upsert", "type": "main", "index": 0 }]
      ]
    },
    "03 — Zoho Partial Upsert": {
      "main": [
        [
          { "node": "Respond: Success", "type": "main", "index": 0 },
          { "node": "IF: New Record? Send Email 1", "type": "main", "index": 0 },
          { "node": "IF: Zoho 401?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF: New Record? Send Email 1": {
      "main": [
        [{ "node": "04 — Build Email 1 (Save Confirmation)", "type": "main", "index": 0 }],
        []
      ]
    },
    "04 — Build Email 1 (Save Confirmation)": {
      "main": [
        [{ "node": "Resend: Email 1", "type": "main", "index": 0 }]
      ]
    },
    "IF: Zoho 401?": {
      "main": [
        [{ "node": "Force Token Refresh", "type": "main", "index": 0 }],
        []
      ]
    },
    "Webhook: Get Partial Data": {
      "main": [
        [{ "node": "05 — Get Partial Data", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Drip Stop": {
      "main": [
        [{ "node": "06 — Drip Stop Handler", "type": "main", "index": 0 }]
      ]
    },
    "Schedule: Drip Check (1h)": {
      "main": [
        [{ "node": "07 — Zoho Auth (Drip)", "type": "main", "index": 0 }]
      ]
    },
    "07 — Zoho Auth (Drip)": {
      "main": [
        [{ "node": "08 — Drip Check + Build Emails", "type": "main", "index": 0 }]
      ]
    },
    "08 — Drip Check + Build Emails": {
      "main": [
        [{ "node": "IF: Drip Emails to Send?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Drip Emails to Send?": {
      "main": [
        [{ "node": "Resend: Drip Email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true
  },
  "staticData": {
    "global": {
      "partial_records": {},
      "stopped_emails": {},
      "zoho_access_token": null,
      "zoho_token_expiry": 0
    }
  },
  "tags": [
    { "name": "leverage-brief" },
    { "name": "partial-capture" },
    { "name": "drip-emails" },
    { "name": "production" }
  ]
}
